
:root {
  --ifm-color-primary: #0645ad;
  --ifm-color-primary-dark: #053e9c;
  --ifm-color-primary-darker: #053b93;
  --ifm-color-primary-darkest: #043079;
  --ifm-color-primary-light: #074cbe;
  --ifm-color-primary-lighter: #074fc7;
  --ifm-color-primary-lightest: #085ae1;
}

[data-theme='dark'] {
  --ifm-color-primary: #ffc107;
  --ifm-color-primary-dark: #ecb100;
  --ifm-color-primary-darker: #dfa700;
  --ifm-color-primary-darkest: #b78a00;
  --ifm-color-primary-light: #ffc821;
  --ifm-color-primary-lighter: #ffcb2e;
  --ifm-color-primary-lightest: #ffd556;
}